* {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: lightskyblue;
        }

        header {
            height: 128px;

        }

        ul {
            margin: 20px;
        }

        .navbar,
        ul,
        .container {

            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        .navbar {
            width: 100vw;
            position: fixed;

        }

        li {
            list-style-type: none;
            margin: 20px;

        }


        .divation h2 {

            text-transform: uppercase;


        }

        .drop {
            width: 100%;
            background-color: gray;
            display: none;


        }

        a {
            text-decoration: none;
            color: white;
            
        }


        .container i {
            margin: 10px;
            color: blue;
            font-size: 50px;
        }

        .container h1 {
            text-transform: uppercase;
        }

        .divation {
            background-color: yellow;
            position: relative;
        }

        .divation:hover .drop {
            display: flex;
            flex-direction: column;
            position: absolute;
            align-items: center;
           


        }

        .drop a:hover {
            background-color: pink;
            padding: 10px;
        }

        .sec-1 img {
            border-radius: 10px;
            margin-left: 100px;



        }

        .con div {
            width: 400px;
            margin-left: 30px;
            text-align: justify;
        }

        .sec-1 p {
            color: lightgray;

        }

        .con {
            display: flex;
            
        }

        .but {
            padding: 15px 20px;
            background-color: blue;
            color: white;
            border: 0;
            position: relative;
            top: 50px;
            left: 600px;
        }

        .sec-1 {
            margin-bottom: 100px;
        }

        .main-2 {
            display: flex;
            align-items: center;
            justify-content: space-around;

        }

        .sec-2 h1 {
            text-align: center;
            text-transform: uppercase;
            font-family: sans-serif;
            font-size: 25px;
        }

        .sec-2 span {
            border-bottom: 5px solid red;
        }

        .sec-2 p {
            text-align: center;
            color: gray;
            margin: 30px;



        }

        .di {
            width: 370px;
            text-align: center;
            background-color: white;
            padding: 10px;


        }

        .di i {
            font-size: 40px;
            margin: 40px 0;
        }

        .di h2 {
            text-transform: capitalize;
        }